<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <title>Araban Burada</title>
</head>
<body>
    <header>
        <!-- Menü -->
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #747373;">

                <div class="container-fluid">
                    <a class="navbar-brand" href="/Home/Index">
                        <img src="/Content/Resimler/logo2.png" width="50" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        @Html.Partial("Arama")

                       @Html.Action("DurumList","Durum")
                       @Html.Partial("LoginPartial")

                    </div>
                </div>
            </nav>


        </div>



    </header>

   @RenderBody()


    <footer>
        <!-- iletişim-->
        <div class="container">
            <br />
            <div class="row" style="background-color:#747373">
                <div class="col-md-1">

                </div>
                <div class="col-md-8">
                    <h6 style="color:black; padding:15px 0px 0px 0px"> İLETİŞİM</h6>
                    <ul class="list-unstyled">
                        <li> <a href="/Account/Login" style="color:black; text-decoration:none"> GİRİŞ YAP </a></li>
                        <li> <a href="/Account/Register" style="color:black; text-decoration:none"> ÜYE OL </a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h6 style="color:black; padding:15px 0px 0px 0px"> SOSYAL MEDYA</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://tr-tr.facebook.com/"> <img src="/Content/Resimler/facebook.png" width="51" /> </a>
                            <a href="https://twitter.com/?lang=tr"> <img src="/Content/Resimler/twitter.png" width="48" /> </a>
                            <a href="https://www.instagram.com/?hl=tr"> <img src="/Content/Resimler/instagram.png" width="53" /> </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </footer>

</body>
</html>
