
@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "d-flex" }))
{
        <input class="form-control me-2" type="search" placeholder="Arabanı Bul" name="q" aria-label="Search">
        <button class="btn btn-outline-black" type="submit"> <i class="bi bi-search"></i> </button>

}

