<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    @if (Request.IsAuthenticated)
    {
        if (this.User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Admin/Index">Admin Paneli</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Ilan/Index"> @User.Identity.Name </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Account/Profil">Hesabım</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-black" aria-current="page" href="/Account/LogOut">  Çıkış Yap</a>
                <a class="btn btn-outline-black" aria-current="page" href="/Ilan/Create"> <i class="bi bi-plus-circle-fill"></i> İlan Ver</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Ilan/Index"> @User.Identity.Name </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Account/Profil">Hesabım</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-black" aria-current="page" href="/Account/LogOut"> Çıkış Yap</a>
                <a class="btn btn-outline-black" aria-current="page" href="/Ilan/Create"> <i class="bi bi-plus-circle-fill"></i> İlan Ver</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-black" aria-current="page" href="/Account/Register"> <i class="bi bi-person-plus-fill"> </i> Üye Ol </a>
            <a class="btn btn-outline-black" aria-current="page" href="/Account/Login"> <i class="bi bi-person-fill"></i> Giriş Yap</a>
            <a class="btn btn-outline-black" aria-current="page" href="/Account/Login"> <i class="bi bi-plus-circle-fill"></i> İlan Ver</a>
        </li>
    }

</ul>
